



* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background: white;
  }
  
  .board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    grid-gap: 0px;
    
 
  }


  
  .piece {
    height: 10vh;
  }

  .board div:nth-child(n+4) {
    border-top: solid 1px black;
}

.board div:nth-child(4, 5) {
    border: solid 1px black;
}

  
  .player-form {
    display: flex;
    flex-direction: column;
    width: 20vw;
  }
  