.cloud {
  min-width: 25px;
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 0%;
  top: .2%;
  -webkit-animation: float 240s;
  animation: float 240s;
  animation-timing-function: ease-in-out;
}

@keyframes float {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes float {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
